<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.udb.guia07app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Guia07App">
        <activity android:name=".HistorialActivity"></activity>
        <activity android:name=".AdaptadorHistorial" />
        <activity android:name=".SeleccionDireccionActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".HamburguesasActivity" />
        <activity android:name=".PizzaActivity" />
        <activity android:name=".PostresActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".Productos.ActividadProducto" />
        <activity android:name=".Productos.AgregarProducto" />
        <activity android:name=".Direccion.ActividadDireccion" />
        <activity android:name=".Direccion.AgregarDireccion" />
    </application>

</manifest>